/* TODO: IT19180526 - Chandrasiri S A N L D */

#dashboard {
    background-color: white;
    padding-left: 50px;
}

#dashboard-example {
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}

#dashboardEditor {
    background-color: white;
    padding-left: 50px;
}